<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Chat App</title>
        <script defer src="https://chat-app2019.herokuapp.com/socket.io/socket.io.js"></script>
        <script defer src ="script.js"></script>
        <style>
            .container{
                padding-top: 20%;
                padding-left:40%;
            }
            body{
                background: #212121;
                color:white;
                text-transform: uppercase;
            }
            a{
                text-decoration: none;
                color:white;
                border-bottom:1px solid white;
                font-size:20px;
            }
            #group-container{
                margin-bottom:20px;
                font-size:30px;
            }
            #input1{
                line-height:20px;
                border-radius:35px;
                outline: none;
                font-size:20px;
                padding: 10px;
                padding-left:20px;
            }
            button{
                padding:10px;
                border-radius:25px;
                background-color:greenyellow;
                font-size:20px;
                color:white;
                border:none;
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div id="group-container">
                <% Object.keys(groups).forEach (group =>{  %>
                    <div><%= group %></div>
                    <a href="/<%= group %>">Join</a>
                <% }) %>
            </div>
            <form action ='/group' method="POST">
                <input name ="group" type="text" id="input1" required>
                <button type ="submit">New Group</button>
            </form>
        </div>
    </body>
</html>